<section
  class='tab {{tab.cssClass}}'
  data-group='primary'
  data-tab='notes'
>
  <div class="pj-sheet-cat notes">
    <h3>{{localize "beryllium.pjsheet.notes.titre" }}</h3>
    <textarea name="system.notes" rows="20" class="pj-sheet-input" placeholder="">{{system.notes}}</textarea>
  </div>
</section>