<form id="bonus-roll-form">

    <div class="">

        <div class="flexrow-beryllium roll-threshold">
            <label>{{localize 'beryllium.RollModificateur'}}</label>
            <input type="number" name="modificateur" value="0" step="1" />
        </div>

        <div class="flexrow-beryllium roll-threshold">
            <label>{{localize "Caractéristique d'attaque"}}</label>
            <select name="competence">
                {{#each competences as |comp|}}
                    <option value="{{@key}}">{{comp}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</form>