<div class="sheet beryllium item-sheet">
    <div class="multicol">
        <div class="image">
            <img data-action="editImage" data-edit="img" src="{{document.img}}" alt="Photo de {{document.name}}" />
        </div>
        <div>
            <div >
                <label>{{localize "beryllium.itemsheet.common.nom"}}</label>
                <input type="text" name="name" value="{{document.name}}"/>
            </div>
        </div>
    </div>
</div>