.pj-sheet-cat{
    border: 1px solid lightgrey;
}

.pj-sheet {
    display:flex;
}

.pj-sheet > .sidebar {
    width: 200px;
    flex-grow:0;
    flex-shrink:0;
    margin-right: 5px;
}

.pj-sheet > .content {
    flex-grow:1;
}


.pj-sheet-competences{
    display:flex;
}

.pj-sheet-competences > .competence {
    max-width: 100px;
    margin: 5px;
    border: 1px solid lightgrey;
}

.pj-sheet-competences > .competence > label {
    display:block;
    text-align: center;
    font-size: 1em;
}

.pj-sheet .sidebar .cases-container{
    margin-top: 1em;
}

.pj-sheet .sidebar .cases-container .controls{
    display:flex;
    gap: 5px;
    margin-bottom: 0.2em;
}

.pj-sheet  .cases-container.stress .controls{
    background-color: brown;
}

.pj-sheet  .cases-container.stress .values svg.active{
    fill: brown;
}


.pj-sheet  .cases-container.fletrine .controls{
    background-color: darkolivegreen;
}
.pj-sheet  .cases-container.fletrine .values svg.active{
    fill: darkolivegreen;
}
.pj-sheet  .cases-container.fletrine .values label.fletrine_niveau_max{
    background-color: darkolivegreen;
}


.pj-sheet  .cases-container.oubli .controls{
    background-color: cadetblue;
}
.pj-sheet  .cases-container.oubli .values svg.active{
    fill: cadetblue;
}
.pj-sheet  .cases-container.oubli .values label.fletrine_niveau_max{
    background-color: cadetblue;
}

.pj-sheet  .cases-container.fletrine .values{
    display:flex;
    height:20px;
    margin-bottom:5px;
}
.pj-sheet  .cases-container.fletrine .values label{
    width: 30px;
    margin-right:5px;
}


.pj-sheet .sidebar  .cases-container .controls > label{
    flex-grow:1;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6em;
}
.pj-sheet .sidebar  .cases-container .controls > span{
    flex-grow:0;
    flex-shrink: 0;
    width:28px;
}
.pj-sheet .sidebar  .cases-container .controls > span > button{
    width:100%;
}

.pj-sheet .infosperso {
    display:flex;
    gap: 10px;
    margin-bottom : 15px;
}
.pj-sheet .infosperso > *{
    flex: 1 1 0; 
}
