/* latin */
@font-face {
  font-family: 'IM Fell English SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/imfellenglishsc/v16/a8IENpD3CDX-4zrWfr1VY879qFF05pZ7PIIP.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'UnifrakturCook';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/unifrakturcook/v25/IurA6Yli8YOdcoky-0PTTdkm56n05Xwy1oM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.beryllium .multicol {
    display:flex;
    gap: 5px;
}

.beryllium .multicol > *{
    flex : 1 1 0;
}

.pj-sheet {
    display:flex;
    height:100%;
}

.pj-sheet > .sidebar {
    overflow-y: auto;
    width: 200px;
    flex-grow:0;
    flex-shrink:0;
    margin-right: 5px;
}

.pj-sheet > .content {
    flex-grow:1;
    display: flex;
    flex-direction: column;
}

.pj-sheet > .content > .top{
    display:flex;
}

.pj-sheet > .content > .top > *{
    flex : 0 0 40%;
}

/******              TOP BAR                       *****/
.pj-sheet > .content > .top > .pj-sheet-competences{
    font-family: "IM Fell English SC", serif;
    font-size: 16px;
    display:flex;

    width: 33%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 50%;
}

.pj-sheet > .content > .top > .pj-sheet-competences > .competence {
    margin: 5px;
    border: 1px solid lightgrey;
    text-align: center;
    flex: 1 0 18%;
    flex-wrap: nowrap;
}

.pj-sheet > .content > .top > .pj-sheet-competences > .competence > label {
    display:block;
    text-align: center;
    font-size: 1em;
    flex: 1 0 33%;
}

.pj-sheet > .content > .top > .pj-sheet-competences > .competence > div{
    flex: 0 0 50px;
    font-size: 1.2em;
}

.pj-sheet > .content > .top > .pj-sheet-competences > .competence.action{
    display:flex;
    justify-content: space-between;
}

.pj-sheet > .content > .top > .pj-sheet-competences > .competence.action > div{
    flex-shrink: 1;
}
/******        END   TOP BAR                       *****/




/******                MAIN                        *****/

.pj-sheet > .content > .main {
    display:flex;
    flex-direction: column;
    min-height: 0;
    flex:1 1 auto;
}

.pj-sheet > .content > .main > .pages{
    overflow: auto;
    height:100%;
}





.pj-sheet .sidebar .cases-container{
    margin-top: 1em;
}

.pj-sheet .sidebar .cases-container .controls{
    display:flex;
    gap: 5px;
    margin-bottom: 0.2em;
}

.pj-sheet  .cases-container.stress .controls{
    background-color: brown;
}

.pj-sheet  .cases-container.stress .values svg.active{
    fill: brown;
}


.pj-sheet  .cases-container.fletrine .controls{
    background-color: darkolivegreen;
}
.pj-sheet  .cases-container.fletrine .values svg.active{
    fill: darkolivegreen;
}
.pj-sheet  .cases-container.fletrine .values label.fletrine_niveau_max{
    background-color: darkolivegreen;
}


.pj-sheet  .cases-container.oubli .controls{
    background-color: cadetblue;
}
.pj-sheet  .cases-container.oubli .values svg.active{
    fill: cadetblue;
}


.pj-sheet  .cases-container.echo .controls{
    background-color: mediumpurple;
}
.pj-sheet  .cases-container.echo .values svg.active{
    fill: mediumpurple;
}



.pj-sheet  .cases-container.fletrine .values{
    display:flex;
    height:22px;
    margin-bottom:5px;
}
.pj-sheet  .cases-container.fletrine .values label{
    width: 40px;
    margin-right:5px;
    padding-left:5px;
    line-height:24px;
}

.pj-sheet  .cases-container.fletrine .etats {
    display: flex;
    gap : 10px;
    margin-bottom:5px;
}

.pj-sheet  .cases-container.fletrine .etats > label{
    flex : 1 1 0;
    padding : 5px;
    border: 1px solid darkolivegreen;
    border-radius: 5px;
}
.pj-sheet  .cases-container.fletrine .etats > label.active{
    background-color:darkolivegreen;
}

.pj-sheet .sidebar  .cases-container .controls > label{
    flex-grow:1;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6em;
}
.pj-sheet .sidebar  .cases-container .controls > span{
    flex-grow:0;
    flex-shrink: 0;
    width:28px;
}
.pj-sheet .sidebar  .cases-container .controls > span > button{
    width:100%;
}

.pj-sheet .infosperso {
    display:flex;
    flex-direction:column;
    gap: 10px;
    margin-bottom : 15px;
}
.pj-sheet .infosperso > *{
    flex: 1 1 0; 
}


.pj-sheet .pj-sheet-cat .cols{
    display:flex;
    gap: 5px;
}

.pj-sheet .pj-sheet-cat .cols > *{
    flex : 1 1 0;
}


.pj-sheet  textarea{
    width:100%;
}

.prouesse  {
    margin-bottom: 40px;
}

.pj-sheet .sidebar .argent{
    display:flex;
    align-items: center;
    gap:5px;
}
.pj-sheet .sidebar .argent label{
    margin-left:5px;
}

.item-sheet > .multicol > .image {
    flex: 0 0 auto;
    max-width: 200px;
}

.pj-sheet .inventory-section {
    margin-top: 2em;
}

.pj-sheet .inventory-section .create {
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: right;
}

.pj-sheet .inventory-section .create > span{
    border: 1px solid lightgray;
    padding: 2px;
    border-radius: 5px;
}



.pj-sheet .inventory-section .controls {
    flex: 0 0 50px;
}

.pj-sheet .clickable {
    cursor: pointer;
}

.pj-sheet .clickable:hover {
    background-color: #888;
}






.pj-sheet .field{
    flex-wrap: wrap;
    flex: 1 0 100px;
    display:flex;
    margin-top:15px;
}


.pj-sheet .field > label{
    flex: 0 0 150px;
    align-content: center;
}


.pj-sheet .field > div{
    flex: 1 0 100px;
    align-content: center;
    color: var(--color-light-3);
    display: inline-block;
}


.pj-sheet .field-value{
    padding:1px 9px;
    color: var(--color-light-3);
    height: var(--input-height);
    line-height: var(--input-height);
    --display:inline-block;
}



.pj-sheet .pj-sheet-cat.fields-container.magie .multicol-fields{
    display:flex;
    flex-wrap:wrap;
}


.pj-sheet .pj-sheet-cat.fields-container.magie .multicol-fields > *  {
    min-width:300px;
    flex-basis:300px;
}


.pj-sheet .notfield  {
    padding: 1px 9px;
}

.pj-sheet .notfield .title  {
    color: var(--color-light-3);
}

.pj-sheet .notfield .legend {
    color: var(--color-light-2);
    font-size: 14px;
}

/***********    CHAMPS SPECIFS         **********/
.pj-sheet > .sidebar > .field.nom > label {
    flex-basis: 40px;
}

.field.heritage.privilege > div > .notfield > .title > .util {
    float:right;
}

.field.heritage.privilege > div > .notfield {
    margin-bottom: 10px;
}