
@font-face {
  font-family: 'Amarante';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amarante/v30/xMQXuF1KTa6EvGx9bp--AXvwmA.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Amarante';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amarante/v30/xMQXuF1KTa6EvGx9bp-wAXs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.beryllium-sheet * {
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;    
}

.beryllium-sheet .fa-classic, .beryllium-sheet .fas, .beryllium-sheet .fa-solid, .beryllium-sheet .far, .beryllium-sheet .fa-regular, .beryllium-sheet .fal, .beryllium-sheet .fa-light, .beryllium-sheet .fat, .beryllium-sheet .fa-thin {
    font-family: "Font Awesome 6 Pro";
}


.beryllium-sheet input,.beryllium-sheet textarea,.beryllium-sheet *{
   --input-background-color: #4b5139;
}

.beryllium-sheet.dialog .window-content {
    font-size:16px;
    margin:1rem;
    margin-bottom:2rem;
}

.beryllium * ~ .clickable {
    margin-left:10px;
}

.beryllium .clickable {
    cursor: pointer;
}

.beryllium .clickable:hover {
    background-color: #888;
}


.beryllium .clicdice {
    cursor: url("../assets/pics/cursordice.png"), auto;
}

.beryllium .clicdice:hover {
    background-color: #888;
}


.beryllium .multicol {
    display:flex;
    gap: 5px;
}

.beryllium .multicol > *{
    flex : 1 1 0;
}

.pj-sheet {
    display:flex;
    height:100%;
}

.pj-sheet > .sidebar {
    margin:1rem;
    overflow-y: auto;
    width: 220px;
    flex-grow:0;
    flex-shrink:0;
}

.pj-sheet > .content {
    flex-grow:1;
    display: flex;
    flex-direction: column;
    margin-right:1rem;
}

.pj-sheet > .content > .top{
    display:flex;
}

.pj-sheet > .content > .top > *{
    flex : 0 0 40%;
}

/******             TOUTE FICHE                    *****/

.beryllium h2 > span > a > i {
    font-size:1.6rem;
}

/******              TOP BAR                       *****/
.beryllium-sheet   .content > .top > .perso{
    padding-top:45px;
    background: no-repeat url("../assets/pics/sheet/top/ornement-grand.svg") center top / 100% 60px;
}


.beryllium-sheet  .content > .top > .perso .nom > label {
    flex: 0 0 55px;
    font-size: 1.2em;
}

.beryllium-sheet .content > .top > .perso .nom > div > span {
    font-size: 1.6em;
}

.pj-sheet > .content > .top > .pj-sheet-competences{
    display:flex;

    width: 33%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 50%;
}


.beryllium-sheet .pj-sheet > .content > .top .action{
    display:flex;
    gap:0px;
    flex: 1 0 110px;
    margin-left:0px;
}

.beryllium-sheet .pj-sheet > .content > .top .action > .verrou{
    text-align:center;
}

.beryllium-sheet .pj-sheet > .content > .top .action > div{
    flex: 0 0 32px;
}

.beryllium-sheet .pj-sheet > .content > .top .action > div > a > img{
    width:32px;
    height:32px;
}



.beryllium-sheet .pj-sheet > .content > .top .xp {
    flex: 1 1 70px;
    background-color: var(--beryllium-color-vert-clair);
    display:flex;
    
    border-radius:8px;
}

.beryllium-sheet .pj-sheet > .content > .top .xp > label {
    flex: 0 0 55px;
    padding : 5px 10px;
    height:32px;
    line-height:20px;
    color: var(--beryllium-color-jaune);
    background: no-repeat url("../assets/pics/sheet/top/orn_xp.svg") right bottom / auto 83%;
    border: 2px solid var(--beryllium-color-jaune);
    border-radius:8px;
}

.beryllium-sheet .pj-sheet > .content > .top .xp > div {
    flex: 1 1 65px;
}

.beryllium-sheet .pj-sheet > .content > .top > .perso .multifields, .sheet.beryllium .field {
    margin-top:0px;
}

/******        END   TOP BAR                       *****/




/******                MAIN                        *****/

.pj-sheet > .content > .main {
    display:flex;
    flex-direction: column;
    min-height: 0;
    flex:1 1 auto;
}

.pj-sheet > .content > .main > .pages{
    overflow: auto;
    height:100%;
    background: linear-gradient(var(--beryllium-color-jaune) -50%, var(--beryllium-color-background) 20%);
}



.pj-sheet .infosperso {
    display:flex;
    flex-direction:column;
    gap: 10px;
    margin-bottom : 15px;
}
.pj-sheet .infosperso > *{
    flex: 1 1 0; 
}


.pj-sheet .pj-sheet-cat .cols{
    display:flex;
    gap: 5px;
}

.pj-sheet .pj-sheet-cat .cols > *{
    flex : 1 1 0;
}


.sheet.beryllium  textarea{
    width:100%;
}

.prouesse  {
    margin-bottom: 40px;
}

.pj-sheet .sidebar .argent{
    display:flex;
    align-items: center;
    gap:5px;
}
.pj-sheet .sidebar .argent label{
    margin-left:5px;
}


.beryllium-sheet .item-sheet {
    padding:1rem;
}


.item-sheet > .multicol > .image {
    flex: 0 0 auto;
    max-width: 200px;
}

.pj-sheet .inventory-section {
    margin-top: 2em;
}

.pj-sheet .inventory-section .create {
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: right;
}

.pj-sheet .inventory-section .create > span{
    border: 1px solid lightgray;
    padding: 2px;
    border-radius: 5px;
}

.pj-sheet .inventory-section .controls {
    flex: 0 0 60px;
}

.pj-sheet .inventory-section .titres .item {

    padding:3px;
}

.pj-sheet .inventory-section .item {
    border: 1px solid white;
    border-radius:5px;
    padding:8px 3px;
    background:linear-gradient(to bottom right, #49371b, #ae6946);;
    margin-top:5px;
}



.sheet.beryllium .multifields, .sheet.beryllium .field{
    flex-wrap: wrap;
    flex: 1 0 100px;
    display:flex;
    margin-top:15px;
}

.sheet.beryllium .multifields > .field{
    margin-top:0px;
}

.sheet.beryllium .multifields > .field ~ *{
    margin-left:20px;
}

.sheet.beryllium .fullline ~ .fullline{
    margin-top:0.7em;
}

.sheet.beryllium .field > label{
    flex: 0 0 150px;
    align-content: center;
}


.sheet.beryllium .field > div{
    flex: 1 0 70px;
    align-content: center;
    color: var(--color-light-3);
    display: inline-block;
}

.sheet.beryllium .field > div ~  label {
    margin-left : 20px;
}

.sheet.beryllium .field-value{
    padding:1px 9px;
    color: var(--color-light-3);
    height: var(--input-height);
    line-height: var(--input-height);
    --display:inline-block;
}


.pj-sheet .notfield  {
    padding: 1px 9px;
}

.pj-sheet .notfield .title  {
    color: var(--color-light-3);
}

.pj-sheet .notfield .legend {
    color: var(--color-light-2);
    font-size: 14px;
}

/***********    CHAMPS SPECIFS         **********/
.pj-sheet > .sidebar > .field.nom > label {
    flex-basis: 40px;
}

.field.heritage.privilege > div > .notfield > .title > .util {
    float:right;
}

.field.heritage.privilege > div > .notfield {
    margin-bottom: 10px;
}

 table.norow tbody tr:nth-child(2n) {
    background: var(--table-row-color-odd);
 }

.pj-sheet .field > .prouesse_actif_div {
    width : 150px;
    flex : 0 0 150px;
}

.pj-sheet .pj-sheet-cat.combat .arme.titres {
    margin-bottom: 10px;
}

.pj-sheet .pj-sheet-cat.combat .arme .infos {
    flex: 0 1 250px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.pj-sheet .toggleable {
    display:none;
}
.pj-sheet .toggleable.visible {
    display:initial;
}



/*
.beryllium-chat-text{
    background: blue;
}
.beryllium-chat-roll{
    background: red;
}

*/





/***********    AUTRE         **********/

.window-content .dialog-form .dialog-content .repos-form > .repos {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:25px;
}


.window-content .dialog-form .dialog-content .repos-form > .repos > div > input[type="radio"],
.window-content .dialog-form .dialog-content .repos-form > .repos > div > input[type="radio"]::after,
.window-content .dialog-form .dialog-content .repos-form > .repos > div > input[type="radio"]::before,
.window-content .dialog-form .dialog-content .repos-form > .repos > div > input[type="radio"]:checked,
.window-content .dialog-form .dialog-content .repos-form > .repos > div > input[type="radio"]:checked::after,
.window-content .dialog-form .dialog-content .repos-form > .repos > div > input[type="radio"]:checked::before
{
    display:none;
    content:none;
}

.window-content .dialog-form .dialog-content .repos-form > .repos > div {
    display:flex;
    flex-direction: column;
    flex: 0 0 200px;
    border:5px solid transparent;
    padding:10px;
    font-size: 16px;
}

.window-content .dialog-form .dialog-content .repos-form > .repos > div:has(> input[type="radio"]:checked) {
    border:5px solid #ceab37;
    border-radius: 10px;
}

.window-content .dialog-form .dialog-content  .repos-form > .repos > div > label {
    text-align: center;
}

.window-content .dialog-form .dialog-content  .repos-form > .repos > div > label > img {
    display: block;
    margin: auto;
    width: 160px;
}

.window-content .dialog-form .dialog-content  .repos-form > .repos > div > label.label {
    background: url("../assets/pics/repos/bandeau.png") no-repeat center center;
    width:200px;
    height:55px;
    line-height: 38px;
}




/**********    THEME      *********/

.beryllium-sheet {
    background: linear-gradient(#091d16, #091d16) 10px 15px / calc(100% - 20px) calc(100% - 30px) no-repeat;    
    border-radius: inherit;
    border: none;
    box-shadow: none;
    padding:15px 10px;
    font-size: 16px;

    
    --beryllium-color-vert-fonce: #586043;
    --beryllium-color-jaune: #f2b065;
    --beryllium-color-rouge: #ab483e;
    --beryllium-color-rose: #db8964;
    --beryllium-color-vert-clair: #7e8461;
    --beryllium-color-beige: #ffdaac;
    --beryllium-color-marron: #4b3e39;
    --beryllium-color-bleu: #829da5;
    --beryllium-color-background : #091d16;

    --beryllium-color-grey: var(--beryllium-color-vert-fonce);
    --beryllium-color-stress : var(--beryllium-color-rouge);
    --beryllium-color-fletrine : var(--beryllium-color-vert-clair);
    --beryllium-color-echo : var(--beryllium-color-bleu);
    --beryllium-color-oubli : var(--beryllium-color-rose);
}

.beryllium-sheet:before {
    content:"";
    position:absolute;

    background:
        url('../assets/pics/sheet/cadre/bordure_haut_gauche.svg') top left / 100px 62px no-repeat,
        url('../assets/pics/sheet/cadre/bordure_haut_droite.svg') top right / 100px 62px no-repeat,
        url('../assets/pics/sheet/cadre/bordure_bas_gauche.svg') bottom left / 100px 62px no-repeat,
        url('../assets/pics/sheet/cadre/bordure_bas_droite.svg') bottom right / 100px 62px no-repeat,
        url('../assets/pics/sheet/cadre/bordure_haut.png') no-repeat top 0 left 75px /  calc(100% - 150px) 62px,
        url('../assets/pics/sheet/cadre/bordure_bas.png') no-repeat bottom 0 left 75px /  calc(100% - 150px) 62px,
        url('../assets/pics/sheet/cadre/bordure_gauche.png') no-repeat left 0 top 60px / 100px calc(100% - 120px),
        url('../assets/pics/sheet/cadre/bordure_droite.png') no-repeat right 0 top 60px / 100px calc(100% - 120px)
        ;

    height: 100%;
    width: 100%;
    top: 0px;
    left: 0;
    z-index:10;
    pointer-events: none;
}

.beryllium-sheet > .window-header{
    padding: 20px 60px 15px 65px;
    background-color: #829da5;
}

.beryllium-sheet > .window-content{
    backdrop-filter: blur(5px);
    padding:0px;
}


.beryllium-sheet nav.sheet-tabs{
    border:none;
    border-bottom:2px solid var(--beryllium-color-beige);
    height:30px;
    justify-content: space-around;
    align-items: baseline;
    gap:2px;
    width:100%;
}

.beryllium-sheet nav.sheet-tabs a{
    height:40px;
    position:relative;
    padding:0px 15px 0px 15px;
    line-height:25px;
}

.beryllium-sheet nav.sheet-tabs a:before{
    content:"";
    position:absolute;
    height:30px;
    width:100%;
    top:0;
    left:0;
    pointer-events: none;
    border:2px solid var(--beryllium-color-beige);
    border-radius:8px 8px 0px 0px;
    background-color: var(--beryllium-color-vert-clair);    
    z-index:-1;
}

.beryllium-sheet nav.sheet-tabs .active {
    padding:0px 20px 0px 10px;
    background: url('../assets/pics/sheet/top/selecteur.svg') bottom 0px center / 50px 20px no-repeat;
}

.beryllium-sheet nav.sheet-tabs a.active:before{
    border:2px solid var(--beryllium-color-beige);
    background-color: var(--beryllium-color-vert-clair);
    background: no-repeat url("../assets/pics/sheet/sidebar/orn_button.svg") right bottom  / auto 53%;
}

.beryllium-sheet h2 {

    font-size: 30px;
    width: 100%;
    text-align: center;
    height: 40px;
    line-height:50px;
    border-top : 2px solid var(--beryllium-color-beige);

}
.beryllium-sheet h2:before {
    background: no-repeat url("../assets/pics/sheet/titre_gauche.svg") top left;
    width: 150px;
    content: "";
    float: left;
    height: 40px;
}

.beryllium-sheet h2:after {
    background: no-repeat url("../assets/pics/sheet/titre_droit.svg") top right;
    content: "";
    width: 150px;
    float: right;
    height: 40px;
}


.beryllium-sheet .sidebar {
    background-color: black;
    border-radius: 10px;
    padding : 10px;
}

.beryllium-sheet .sidebar > .image {
    background: url("../assets/pics/sheet/sidebar/cadre_image.svg") no-repeat center / 200px 200px;
    height:200px;
    width:100%;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beryllium-sheet .sidebar > .image > img {
    max-width:100%;
    max-height:100%;
    object-fit:contain;
}



.beryllium-sheet .cases-container .cases-controls {
    display:flex;
    gap: 5px;

    height:38px;
    position:relative;
}

.beryllium-sheet  .cases-container .cases-controls > * {
  position: relative; /* sort du masque */
}

.beryllium-sheet  .cases-container .cases-controls:before {
    content: "";
    margin-bottom: 0.2em;
    position:absolute;
    inset:0;
    background-color: var(--cases-controls-bg-color);
    mask: url("../assets/pics/sheet/sidebar/categorie.svg") no-repeat center / contain;
    -webkit-mask: url("../assets/pics/sheet/sidebar/categorie.svg") no-repeat center / contain;
    pointer-events: none;
    height:100%;
}

.beryllium-sheet .sidebar .separation {
    background: no-repeat url("../assets/pics/sheet/sidebar/separation.svg");
    background-size: 100%;
    height:15px;
    line-height:15px;
}

.beryllium-sheet  .cases-container.stress {
    --bg-color: var(--beryllium-color-stress);
    --cases-controls-bg-color: var(--beryllium-color-stress);
    --beryllium-color-case-active: var(--beryllium-color-stress);
}

.beryllium-sheet  .cases-container.fletrine{
    --bg-color: var(--beryllium-color-fletrine);
    --cases-controls-bg-color: var(--beryllium-color-fletrine);
    --beryllium-color-case-active: var(--beryllium-color-fletrine);
}

.beryllium-sheet  .cases-container.echo{
    --bg-color: var(--beryllium-color-echo);
    --cases-controls-bg-color: var(--beryllium-color-echo);
    --beryllium-color-case-active: var(--beryllium-color-echo);
}

.beryllium-sheet  .cases-container.oubli{
    --bg-color: var(--beryllium-color-oubli);
    --cases-controls-bg-color: var(--beryllium-color-oubli);
    --beryllium-color-case-active: var(--beryllium-color-oubli);
}

.beryllium-sheet  .cases-container .cases-controls > label{
    flex-grow:1;
    text-align: center;
    font-size: 1.2em;
    line-height: 38px;
}

.beryllium-sheet  .cases-container .cases-controls > span{
    flex-grow: 0;
    flex-shrink: 0;
    width: 20px;
    text-align: center;
    background-color: #f2b065;
    border-radius: 12px;
    height: 20px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 9px;
}

.beryllium-sheet  .cases-container .cases-controls > span:hover{
    -webkit-filter: invert(.9);
    filter: invert(.9);
}


.beryllium-sheet  .cases-container .cases-controls > span span{
    margin: 3px;
    height: 14px;
    width: 14px;
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
}

.beryllium-sheet  .cases-container .cases-controls > span span.moins{
    background-image: url("../assets/pics/moins.svg");
}

.beryllium-sheet  .cases-container .cases-controls > span span.plus{
    background-image: url("../assets/pics/plus.svg");
}

.beryllium-sheet  .cases-container .etats {
    display:flex;
    gap:10px;
    margin-bottom:10px;
}

.beryllium-sheet  .cases-container .etats > label{
    flex: 1 1 10px;
    padding : 5px 10px;
    border-radius:8px;
    height:27px;
    line-height:15px;
    
    background: no-repeat url("../assets/pics/sheet/sidebar/orn_button.svg") right bottom / auto 83%;
    border: 2px solid #ffdaac;
}



.beryllium-sheet .cases-container .etats > label.active {
    background-color:var(--cases-controls-bg-color);
}



.beryllium-sheet .cases-container .niveau {
    padding:0 4px;
    display:flex;
}

.beryllium-sheet .cases-container .niveau > label {
    flex-grow:1;
    margin: 1px 10px 5px 10px;
    padding: 0px 5px;
    border-radius:5px;
}

.beryllium-sheet .cases-container .niveau > label.fletrine_niveau_max {
    background-color:var(--cases-controls-bg-color);
}

.beryllium-sheet .cases-container .niveau > div {
    flex:0 0 120px;
}

.beryllium-sheet .cases-container .niveau  .values {
    padding: 0;
}

.beryllium-sheet .cases-container .values {
    padding: 0 13px
}

.beryllium-sheet .cases-container .values span{
    height:20px;
    width:20px;
    display:inline-block;
    background-color: var(--beryllium-color-case-active);
    background-image: url("../assets/pics/sheet/sidebar/case-off.svg");
    
    background-size: 100%;
    background-repeat: no-repeat;
}

.beryllium-sheet .cases-container .values span.active{
    background-image: url("../assets/pics/sheet/sidebar/case-on.svg");
    
}



.beryllium-sheet .content > .top .pj-sheet-competences .competence {
    position:relative;
    z-index: 0;
    margin: 5px;
    text-align: center;
    flex: 1 0 30%;
    flex-wrap: nowrap;
    
    font-size:1.15em;
    color: white;

}

.beryllium-sheet .content > .top .pj-sheet-competences .competence:before {
    content:"";
    position:absolute;
    height:22px;
    width:calc(100% - 5px);
    border-radius:5px;
    top:5px;
    left:5px;
    z-index: -1;
    background-color: var(--beryllium-color-bleu);   
}

.beryllium-sheet .content > .top .pj-sheet-competences .competence:after {
    content:"";
    position:absolute;
    height:100%;
    width:100%;
    
    pointer-events: none;
    background: no-repeat url("../assets/pics/sheet/top/ornement-petit.svg") left bottom / auto 30px;
}

.beryllium-sheet .content > .top .pj-sheet-competences .competence > label {
    flex: 1 0 33%;
    font-size: 1em;
    text-align:left;
    padding-left: 20px;
    padding-bottom:5px;
}

.beryllium-sheet .content > .top .pj-sheet-competences .competence > div {
    flex: 0 0 40px;
}

.beryllium-sheet .content > .top .pj-sheet-competences .competence > div > span {
    font-size:2.5em;
    text-stroke: 1px var(--beryllium-color-grey);
    -webkit-text-stroke: 1px var(--beryllium-color-grey);
    color: var(--beryllium-color-jaune);
}


/***********    SPEC             ********/




/***********    ECHO MJ          ********/

.beryllium-sheet.echoMj {
    padding: 10px 5px;
}

.beryllium-sheet.echoMj:before {
    content:"";
    position:absolute;

    background:
        url('../assets/pics/sheet/cadre/bordure_haut_gauche.svg') top left / 50px 31px no-repeat,
        url('../assets/pics/sheet/cadre/bordure_haut_droite.svg') top right / 50px 31px no-repeat,
        url('../assets/pics/sheet/cadre/bordure_bas_gauche.svg') bottom left / 50px 31px no-repeat,
        url('../assets/pics/sheet/cadre/bordure_bas_droite.svg') bottom right / 50px 31px no-repeat,
        url('../assets/pics/sheet/cadre/bordure_haut.png') no-repeat top 0 left 37px /  calc(100% - 74px) 31px,
        url('../assets/pics/sheet/cadre/bordure_bas.png') no-repeat bottom 0 left 37px /  calc(100% - 74px) 31px,
        url('../assets/pics/sheet/cadre/bordure_gauche.png') no-repeat left 0 top 30px / 50px calc(100% - 60px),
        url('../assets/pics/sheet/cadre/bordure_droite.png') no-repeat right 0 top 30px / 50px calc(100% - 60px)
        ;

    height: 100%;
    width: 100%;
    top: 0px;
    left: 0;
    z-index:10;
    pointer-events: none;
}


.beryllium-sheet.echoMj.beryllium-sheet header.window-header {
    height:10px;
    flex:0 0 10px;
    padding:0;
}

.beryllium-sheet.echoMj.beryllium-sheet header.window-header .header-control {
    display:none;
}



.dice-roll .targets .target {
    display:flex;
    align-items: baseline;
    gap:10px;
}