.beryllium .multicol {
    display:flex;
    gap: 5px;
}

.beryllium .multicol > *{
    flex : 1 1 0;
}

.pj-sheet-cat{

}

.pj-sheet {
    display:flex;
    height:100%;
}

.pj-sheet > .sidebar {
    width: 200px;
    flex-grow:0;
    flex-shrink:0;
    margin-right: 5px;
}

.pj-sheet > .content {
    flex-grow:1;
    display: flex;
    flex-direction: column;
}

.pj-sheet > .content > .main {
    display:flex;
    flex-direction: column;
    min-height: 0;
    flex:1 1 auto;
}

.pj-sheet > .content > .main > .pages{
    overflow: auto;
    height:100%;
}


.pj-sheet-competences{
    display:flex;
}

.pj-sheet-competences > .competence {
    max-width: 100px;
    margin: 5px;
    border: 1px solid lightgrey;
}

.pj-sheet-competences > .competence > label {
    display:block;
    text-align: center;
    font-size: 1em;
}

.pj-sheet .sidebar .cases-container{
    margin-top: 1em;
}

.pj-sheet .sidebar .cases-container .controls{
    display:flex;
    gap: 5px;
    margin-bottom: 0.2em;
}

.pj-sheet  .cases-container.stress .controls{
    background-color: brown;
}

.pj-sheet  .cases-container.stress .values svg.active{
    fill: brown;
}


.pj-sheet  .cases-container.fletrine .controls{
    background-color: darkolivegreen;
}
.pj-sheet  .cases-container.fletrine .values svg.active{
    fill: darkolivegreen;
}
.pj-sheet  .cases-container.fletrine .values label.fletrine_niveau_max{
    background-color: darkolivegreen;
}


.pj-sheet  .cases-container.oubli .controls{
    background-color: cadetblue;
}
.pj-sheet  .cases-container.oubli .values svg.active{
    fill: cadetblue;
}


.pj-sheet  .cases-container.echo .controls{
    background-color: mediumpurple;
}
.pj-sheet  .cases-container.echo .values svg.active{
    fill: mediumpurple;
}



.pj-sheet  .cases-container.fletrine .values{
    display:flex;
    height:20px;
    margin-bottom:5px;
}
.pj-sheet  .cases-container.fletrine .values label{
    width: 30px;
    margin-right:5px;
}


.pj-sheet .sidebar  .cases-container .controls > label{
    flex-grow:1;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6em;
}
.pj-sheet .sidebar  .cases-container .controls > span{
    flex-grow:0;
    flex-shrink: 0;
    width:28px;
}
.pj-sheet .sidebar  .cases-container .controls > span > button{
    width:100%;
}

.pj-sheet .infosperso {
    display:flex;
    gap: 10px;
    margin-bottom : 15px;
}
.pj-sheet .infosperso > *{
    flex: 1 1 0; 
}


.pj-sheet .pj-sheet-cat .cols{
    display:flex;
    gap: 5px;
}

.pj-sheet .pj-sheet-cat .cols > *{
    flex : 1 1 0;
}

.fakeField{
    width: 100%;
    height: var(--input-height);
    line-height: var(--input-height);
    padding: 0 0.5rem;
    background: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    box-shadow: var(--input-box-shadow);
    outline: 1px solid transparent;
    font-family: inherit;
    font-size: inherit;
    color: var(--input-text-color);
    user-select: text;
    transition: outline-color 0.5s;
    cursor: var(--cursor-text);

      --input-background-color: var(--color-cool-4);
      --input-border-color: transparent;
      --input-text-color: var(--color-light-3);
      --input-focus-outline-color: var(--color-cool-3);
}


.pj-sheet  textarea{
    width:100%;
}

.prouesse  {
    margin-bottom: 20px;
}

.pj-sheet .sidebar .argent{
    display:flex;
    align-items: center;
    gap:5px;
}
.pj-sheet .sidebar .argent label{
    margin-left:5px;
}

.item-sheet > .multicol > .image {
    flex: 0 0 auto;
    max-width: 200px;
}